<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MenedgerAudaWEB_0._0.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MenedgerAudaWEB_0._0.Properties.Settings.База_судебных_делConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\База судебных дел.accdb&quot;;Persist Security Info=True" providerName="System.Data.OleDb"/>
    <add name="MenedgerAudaWEB_0._0.Properties.Settings.База_судебных_делConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Александр\Documents\Мои источники данных\База судебных дел.accdb&quot;" providerName="System.Data.OleDb"/>
    <add name="MenedgerAudaWEB_0._0.Properties.Settings.БазаавтоConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Александр\Documents\Мои источники данных\Базаавто.accdb&quot;" providerName="System.Data.OleDb"/>
    <add name="MenedgerAudaWEB_0._0.Properties.Settings.БазаАнатолийConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\БазаАнатолий.accdb" providerName="System.Data.OleDb"/>
    <add name="MenedgerAudaWEB_0._0.Properties.Settings.БазаАнатолийConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Александр\Documents\Мои источники данных\БазаАнатолий.accdb&quot;" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
  <applicationSettings>
    <MenedgerAudaWEB_0._0.Settings1>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </MenedgerAudaWEB_0._0.Settings1>
  </applicationSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
